<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <div id="main-menu">
      <div class="two-column-even">
        <div id="logo">logo</div>
      </div>
      <div class="two-column-even">
        <div class="main-menu-items"><a>Booking Form</a></div>
        <div class="main-menu-items"><a>Payment</a></div>
        <div class="main-menu-items"><a>About Us</a></div>
      </div>
  </body>
</html>
