@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap');

body {
  /* padding: 0 30px; */
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #040f3c;
}

a {
  color: #5fadf4;
  cursor: pointer;
}

h1 {
  margin: 20px 0 0 0;
  font-size: 32px;
  font-weight: 300;
}

h2 {
  margin: 20px 0 0 0;
  font-weight: 300;
}

p {
  margin: 0;
}

.additional-info {
  font-size: 12px;
  color: #a1a4b4;
}

.content-containers {
  padding: 30px;
}

#main-menu {
  padding: 0 30px;
  /* border: 1px solid #5fadf4; */
  box-shadow: 0 2px 10px rgba(4, 15, 60, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.two-column-even {
  display: flex;
  justify-content: flex-end;
}

.main-menu-items {
  margin: 0 10px;
}
