/* @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

body {
  /* padding: 0 30px; */
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #353537;
}

::selection {
  background: #a1a4b4;
}

a {
  color: #7594f3;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #597adf;
  transition: 0.6s;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 32px;
  font-weight: 400;
  color: #080535;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

h3 {
  display: flex;
  margin: 20px 0;
  padding: 13px;
  font-weight: 300;
  color: #7e88a8;
  background-color: #f6f6f8;
  border-radius: 4px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: 300;
}

p {
  line-height: 1.4;
}

input, select, textarea, .input-placeholder {
  width: 100%;
  border: 1px solid #d9d9e2;
  color: #080535;
  font-weight: 300;
  border-radius: 4px;
  height: 39px;
  max-width: 100%;
  margin: 5px 0 0;
  padding: 0 11px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin: 0;
  color: red;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9e2;
  cursor: pointer;
}

input[type="radio"]:checked {
  color: #080535;
}

input[disabled], select[disabled] {
  /* background-color: #f2f8f9; */
  border: 1px solid #ebebef;
  cursor: not-allowed;
}

input[disabled]:hover, select[disabled]:hover {
  border: 1px solid #ebebef;
}

input:hover, select:hover, textarea:hover {
  outline: 0;
  border: 2px solid #7594f3;
  padding: 0 10px;
  box-sizing: border-box;
  transition: 0.33s;
}

input:focus, select:focus, textarea:focus {
  outline: 0;
  border: 2px solid #7594f3;
  padding: 0 10px;
  box-sizing: border-box;
}

input.input-upload {
  width: 0;
  height: 0;
  visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  height: 100px;
  padding: 11px 11px;
}

textarea:hover {
  padding: 10px 10px;
}

textarea:focus {
  padding: 10px 10px;
}

select {
  max-width: 300px;
}

::placeholder {
  color: #d9d9e2;
}

.form-row {
  margin: 10px 0 0;
}

.radio-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
  /* padding: 0 15px; */
}

.form-double {
  margin: 10px 0 0;
  display: flex;
}

.form-double-column {
  width: 100%;
}

.form-double-column:first-child {
  margin-right: 20px;
}

.form-label {
  margin: 0 30px 0 0;
  font-size: 12px;
}

.radio-label {
  margin: 0 10px;
  color: #080535;
}

.radio-title {
  margin: 0 20px 0 0;
}

.asterisk {
  color: #7594f3;
  font-size: 15px;
}

button {
  background-color: #7594f3;
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
  border: 0;
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
}

button:hover {
  background-color: #5f7fe0;
  transition: 0.6s;
}

button:focus {
  outline: none;
}

button[disabled] {
  opacity: 0.33;
  cursor: not-allowed;
}

.option-buttons {
  border: 1px solid #d9d9e2;
  color: #080535;
  background-color: #fff;
  border-radius: 4px;
  margin: 5px 5px 0 0;
  padding: 0 11px;
  font-size: 100%;
}

.option-buttons:hover {
  background-color: #d9d9e2;
  transition: 0.6s;
}

.option-buttons:active {
}

.option-buttons:focus {
  border: 1px solid #080535;
  background-color: #080535;
  color: #fff;
  transition: 0.2s;
}

.option-buttons-selected {
  border: 1px solid #080535;
  background-color: #080535;
  color: #fff;
  border-radius: 4px;
  margin: 5px 5px 0 0;
  padding: 0 11px;
  font-size: 100%;
}

.option-buttons-selected:hover {
  background-color: #080535;
}

.text-button {
  background: none;
  color: #7594f3;
  margin: 0;
  padding: 0 5px;
  font-size: 100%;
}

.text-button:hover {
  background-color: #f6f6f8;
}

form {
  width: 100%;
  max-width: 800px;
}

.additional-info {
  margin: 5px 0 0;
  font-size: 10px;
  color: #a1a4b4;
}

.additional-error {
  color: #ee206a;
}

.content-containers {
  padding: 30px 40px;
}

.form-containers {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.info-containers {
  padding: 0 30px 20px;
}

.form-section-titles {
  display: flex;
}

.section-numbers {
  margin: 0 10px 0 0;
  padding: 0 0 0 3px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #7594f3;
  border-radius: 30px;
}

#main-menu {
  padding: 0 30px;
  /* border: 1px solid #7594f3; */
  box-shadow: 0 2px 10px rgba(4, 15, 60, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.two-column-even {
  display: flex;
  justify-content: flex-end;
}

.main-menu-items {
  margin: 0 10px;
}

#burger-menu-container {
  display: none;
}

.dummy-fields {
  display: none;
}

.drag-drop-area {
  height: 130px;
}

.uppy-DragDrop-arrow {
  width: 20px;
  height: 20px;
}

#form-thank-you {
  display: none;
}

#section1 {
  /* display: none; */
}

#section2 {
  /* display: none; */
}

#section3 {
  /* display: none; */
}

#section4 {
  /* display: none; */
}

#section5 {
  /* display: none; */
}

#section6 {
  /* display: none; */
}

#section7 {
  /* display: none; */
}

#section8 {
  /* display: none; */
}

#section9 {
  /* display: none; */
}

#section10 {
  /* display: none; */
}

#section11 {
  /* display: none; */
}

#section12 {
  margin: 40px 0 0 0;
  background-color: #f6f6f8;
  border-radius: 4px;
}

#employment-details-form {
  display: none;
  /* transition: 1s; */
}

#self-employment-details-form {
  display: none;
}

#student-details-form {
  display: none;
}

#benefits-details-form {
  display: none;
}

#no-employement-details-form {
  display: none;
}

#gt-employment-details-form {
  display: none;
}

#gt-self-employment-details-form {
  display: none;
}

#gt-no-employement-details-form {
  display: none;
}

/* EMPLOYMENT TYPE DROPDOWN */

#employment-type-other {
  display: none;
}

/* GUARANTOR HOMEOWNER DROPDOWN */

#gt-homeowner-other {
  display: none;
}

/* BUTTON AND DIV RELATED TO SHOWING AND HIDING SECOND PROPERTY HISTROY INFO */

#remove-address2 {
  display: none;
}

#address-hist-p2 {
  display: none;
}

#remove-address3 {
  display: none;
}

#address-hist-p3 {
  display: none;
}

#prev-housmemate-details {
  display: none;
}

#resident-passport-upload {
  display: none;
}

#resident-details {
  display: none;
}

@media screen and (max-width: 480px) {

  body {
    /* background-color: lightgreen; */
  }

  a {
    /* color: #fff; */
  }

  select {
    max-width: 100%;
  }

  #menu-items-container {
    display: none;
  }

  #burger-menu-container {
    display: block;
  }

  .content-containers {
    padding: 8% 8%;
  }

  .form-double {
    flex-direction: column;
  }

  .form-double-column:nth-child(2) {
    margin: 10px 0 0 0;
  }

}

.upload-icon {
  padding-right: 10px;
  color: #7594f3;
  font-size: 16px;
}

.upload-remove {
  color: #ee206a;
  cursor: pointer;
  padding-left: 10px;
}

/* Dropzone CSS overrides */
.dz-preview {
  width: auto !important;
  display: block !important;
}
